<!doctype html>
<div class="container">
<a href="/"><button>Home</button></a>
<a href="/gazorpians"><button>My Gazorpians</button></a>


  <% if logged_in? %>
     <p>Welcome, <%=current_user.username%>
     <br></br>
  <% else %>
     <!-- <a href="/signup">Sign Up</a>
     <a href="/login">Login</a> -->
  <% end %>

<%= yield %>
