<h3>Make new Gazorpians</h3>

<form action="/gazorpians" method="POST">

<label for="name">Name:</label>
<input type="text" id="name" name="name">
<label for="name">Age:</label>
<input type="text" id="age" name="age">
<!--
<select name="age">
  <%for i in 1..10 do%>
      <option value='<%#{i.to_int}%>'><%=i.to_int%></option>
  <%end%>
</select> -->

<input type="submit" value="submit">
<br><br>
</form>
